* {
    box-sizing: border-box;
    font-family: roboto;
}

body {
    margin: 0;
    width: 100vw;
}

p {
    font-size: 1.1rem;
}

a {
    color: #CC9544;
    text-decoration: none;
    padding: 8px 12px;
    position: relative; /* Adicionando posição relativa para alinhar o sublinhado */
  }
  
  a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.2s; /* Adicionando a transição */
  }
  
  a:hover::after {
    transform: scaleX(1); /* Adicionando sublinhado no hover */
  }

nav {
    display: flex;
    margin: 0 30px;
    padding-top: 5px;
    background: rgba(112, 112, 112, 0);
}

ul {
    list-style: none;
    display: flex;
    margin: auto;
    width: 510px;
    justify-content: end;
}

li a{
    color: white;
    font-size: 1.1rem;
}

nav p {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    padding: 8px;
    padding-left: 85px;
    width: 25%;
}

.social-media {
    width: 30%;
    justify-content: end;
    display: flex;
    margin: auto;
}

.social-media button {
    width: 45px;
    height: 45px;
    align-items: center;
    margin-right: 25px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px 4px black;
    background-color: rgba(0, 0, 0, 0.719);
    transition: .6s;
}

.social-media button:hover {
    transform: translate(0, -10px);
}

.social-media button i {
    color: #fff;
    font-size: 1.2rem;
}

header {
    height: 100vh;
    background: no-repeat center/100% url(./img/andre-reis-1_DAlXy0wng-unsplash.jpg);
}

.header-conteudo {
    color: white;
    margin: auto;
    margin-top: 120px;
    max-width: 900px;
    text-align :center;
}

.header-conteudo h1 {
    font-size: 3.4rem;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.fade-in {
    opacity: 0;
    animation: fadeIn 4s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* SOBRE */

.sobre {
    background: #050505;
}

.container-sobre {
   display: flex;
   padding: 70px;
}

.grid-galeria {
    width: 80%;
    height: 70%;
    object-fit: cover;
}

.grid-galeria .img {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 6vw);
    grid-gap: 15px;
    padding-top: 120px;
    padding-bottom: 100px;
    padding-left: 90px;
}

.grid-card1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 150px;
    height: 220px;
}

.grid-card2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 170px;
    height: 220px;
    object-fit: cover;
}

.grid-card3 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 6;
    width: 250px;
    height: 220px;
    object-fit: cover;
}

.grid-card4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end: 6;
    width: 210px;
    height: 260px;
    object-fit: cover;
}

.grid-card5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 6;
    width: 363px;
    height: 260px;
    object-fit: cover;
}

.comentario {
    width: 1000px;
    height: 300px;
    justify-content: center;
    align-items: center;
    margin-top: 95px;
    padding-top: 60px;
    border-radius: 5px;
    background-color: #0c0c0c;
}

.comentario h2 {
    padding-left: 25px;
    color: white; 
    font-size: 1.3rem;
    font-weight: 100;
}

.comentario spam {
    color: #cc964483;
    font-size: 1.5rem;
}

/* SERVICOS */

.servicos {
    background: no-repeat center/100% url(./img/fundo-servicos.jpg);
    height: 100vh;
    display: block;
}

.titulo-servicos {
    color: white;
    padding: 30px;
}

.titulo-servicos h1 {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: 400;
}

.tabela-servicos {
    background: #cc964483;
    display: block;
    margin: auto;
    width: 700px;
    padding: 30px 60px;
    border-radius: 10px;
}

.tabela-servicos .card {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.438);
}

.tabela-servicos p  {
    color: white;
}

.tabela-servicos span {
    color: white;
    display: flex;
    align-items: center;
}


/* AGENDAMENTO */ 

.agendamento {
    display: flex;
    height: 100vh;
    background: #160800;
}

/*container esquerdo */
.agendamento-titulo {
    display: block;
    width: 50%;
    padding-top: 15px;
    padding-left: 115px;
}

.agendamento h1 {
    color: white;
    font-size: 2.4rem;
    font-weight: 300;
    padding: 15px;
    padding-left: 75px;
    text-align: center;
    text-transform: uppercase;
}

#slider {
    overflow: hidden;
    width: 400px;
    height: 400px;
    margin-left: 82px;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding-bottom: 35px;
    animation: 20s slider infinite;
    
}

#slider figure img {
    width: 20%;
    float: left;
    object-fit: cover; 
}


@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%
    }
    50% {
        left: -200%
    }
    70% {
        left: -200%
    }
    75% {
        left: -300%
    }
    95% {
        left: -300%
    }
    100% {
        left: -400%
    }

}

/* Container direito */
.agendamento-form {
    padding: 130px;
    margin-right: 90px;
}

/* Estilizando as labels */
.agendamento-form label {
    color: rgb(235, 235, 235);
    display: block;
    font-weight: 300;
    padding-top: 25px;
    padding-bottom: 8px;
    cursor: text;
    transition: color 0.5s ease-in-out; /* Adicionando a transição para a cor do texto */
}

/* Estilizando os inputs */
.agendamento-form input {
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border: none;
    border-bottom: 2px solid rgb(200, 200, 200);
    transition: border-color 0.5s ease-in-out; /* Adicionando a transição para a cor da borda inferior */
}

/* Adicionando a transição quando o mouse estiver sobre o formulário */
.agendamento-form:hover label {
    color: rgb(255, 255, 255); /* Altera a cor do texto ao passar o mouse */
}

.agendamento-form:hover input {
    border-color: rgb(255, 255, 255); /* Altera a cor da borda inferior ao passar o mouse */
}


.meu-botao {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 30px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
}


/* FOOTER - CONTATO */ 

.contato {
    background-color:  rgba(236, 235, 235, 0.651);
    display: flex;
    height: 60vh;
}

.mapa img {
    width: 240px;
    height: 240px;
    margin-top: 70px;
    margin-left: 150px;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid #050505;
}

.container-contato {
    background-color: #e8e8e9;
    display: flex;
    margin-left: 200px;
    width: 50%;
    height: 200px;
    margin-top: 90px;
    margin: auto;
    padding-top: 35px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.card-contato1 {
    width: 250px;
    height: 200px;
    margin: auto;
}

.card-contato2 {

    width: 200px;
    height: 200px;
    margin-left: 25px;
    text-align: center;
    margin: auto;
}

.card-contato3 {

    width: 230px;
    height: 200px;
    margin-left: 25px;
    text-align: center;
    margin: auto;
}

.container-contato p {
    font-size: 15px;
    font-weight: 400;
}

.container-contato a {
    color: #050505;
    font-size: 1rem;
    font-weight: 400;
}

.container-contato span {
    color: #995f07;
    font-size: 1.1rem;
}

.copy {
    background: #e8e8e9;
    display: flex;
}

.copy p {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 350px;
    
}